#### FORMAT FUNCTION

In [1]:
name="Aiswarya"
age=24
txt="My name is {},age is{}"
print(txt.format(name,age))

My name is Aiswarya,age is24

In [2]:
### indexing

name="Aiswarya"
age=24
txt="My name is {1},age is{0}"
print(txt.format(name,age))

My name is 24,age isAiswarya

In [3]:
name=input("enter your name")
age=input("enter your age")
txt="My name is {},age is {}"
print(txt.format(name,age))

enter your nameAiswarya
enter your age24
My name is Aiswarya,age is 24

### LIST

In [4]:
list1=['a','b','c']
list1[0]='A'
print(list1)

['A', 'b', 'c']

In [5]:
list1=['a','b','c']
list1='A','B','C'
print(list1)

('A', 'B', 'C')

In [6]:
#### to add items

list1=['a','b','c']
list2=[1,2,3]
list3=list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [7]:
list1=['A','B','C']
list1.append('D')
print(list1)             #### the value will be added at the end

['A', 'B', 'C', 'D']

In [8]:
list1.extend(list2)
print(list1)

['A', 'B', 'C', 'D', 1, 2, 3]

In [9]:
## REMOVE

list1.remove('D')
print(list1)                        ####item

['A', 'B', 'C', 1, 2, 3]

In [10]:
list1.pop(0)
print(list1)                 ### indexing

['B', 'C', 1, 2, 3]

In [11]:
list1.pop()
print(list1)                  ### last value will be deleted

['B', 'C', 1, 2]

In [12]:
### deleting

del list1[0]
print(list1)

['C', 1, 2]

In [13]:
### insert

list1.insert(0,'B')
print(list1)                  ### to add to a particular position

['B', 'C', 1, 2]

In [14]:
### clear    ### to make a list empty

list1.clear()
print(list1)

##OR

del (list1)
print(list1)         #### COMPLETE DELETE

[]

NameError: name 'list1' is not defined

### TUPLE

In [15]:
### since tuple is unchangeable convert it to list and change it


list1=list(('a','b','c'))
print(list1)

['a', 'b', 'c']

In [16]:
print(type(list1))

<class 'list'>

In [ ]:
a=('a','b',1,2)
print(a)
print(type(a))

In [17]:
a=('a','b',1,2)
c=list(a)
print(c)

['a', 'b', 1, 2]

In [18]:
c[0]='A'
print(c)

['A', 'b', 1, 2]

In [19]:
a=tuple(c)
print(a)

('A', 'b', 1, 2)

In [20]:
print(type(a))

<class 'tuple'>